<head>
    <!-- CHARACTER ENCODING -->
        <meta charset="UTF-8">
    
    <!-- LATEST VERSION OF RENDERING ENGINE -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <!--TITLE OF OUR WEBSITE -->
        <title>BeeGreen | Earn bees, grow trees. </title>
    
    <!-- FAVICON -->
        <link rel="icon" type="image/png" href="styles/images/favicon.ico"/>
    
    <!-- OTHER IMPORTANT SEO TAGS -->
        <meta name="description" content="BeeGreen, make the world a better place one activity at a time.">
        <meta name="keywords" content="HTML5, CSS3, JavaScript, javaScript, jQuery, Canvas, Geeks">
        <meta name="author" content="Arteveldehogeschool | Bachelor in de Grafische en Digitale Media | Adriaan Glibert en Brent De Roeck">
    
    <!-- HUMANS AUTHORS TEXT FILE -->
        <link type="text/plain" rel="author" href="humans.txt">
    
    <!-- MOBILE VIEWPORT -->
       <meta name="viewport" content="width=device-width">
    
    <!--Bootstrap css-->     
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   
    <!-- Stylesheet-->
        <link rel="stylesheet" href="css/main.css" type="text/css">    
    <!-- MODERNIZR: NEW HTML5 ELEMENTS + FEATURE DETECTION -->
    <script src="scripts/vendor/modernizr.custom.js"></script>
    
    
    <!--Animation 
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"> -->
    


    