<!-- JQUERY CDN FIRST OTHERWISE LOCAL FALLBACK -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="scripts/vendor/jquery-2.1.0.min.js">\x3C/script>')</script>
        <script src="js/lodash.min.js"></script>

        <script src="js/weather.js"></script>

         <script src="js/utils.js"></script>
        <script src="js/models.js"></script>
        <script src="js/services.js"></script>
        <script src="js/login.js"></script>

       