        <!-- JQUERY CDN FIRST OTHERWISE LOCAL FALLBACK -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="scripts/vendor/jquery-2.1.0.min.js">\x3C/script>')</script>
        <script src="js/lodash.min.js"></script>


        <!-- CUSTOM JAVASCRIPT FILES -->
        
<!--        Weer in de navigatiebalk-->
        <script src="js/weather.js"></script>
        
       <!-- Implementeer leaflet.js maps-->
        <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
        <script src="js/leaflet.js"></script>
        
        <!-- Get Ecoplan items -->
        <script src="js/ecoplan.js"></script>

        
        <!-- Randomusers -->
        <script src="js/utils.js"></script>
        <script src="js/models.js"></script>
        <script src="js/services.js"></script>
        <script src="js/randomUser.js"></script>
        
        <!-- Progressbar -->
        <script src="js/progressbar.js"></script>
        <script src="js/profile-page.js"></script>
        
       <!-- Hammer JS, beter mobile, no touch delays and gestures -->
       <script src="js/hammer.min.js"></script>