// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

body {
  overflow-x: hidden; 
}


/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

*, *::before, *::after {
  box-sizing: inherit;
} 

/**
 * Basic styles for links
 */
a {
  color: $yellow;
  text-decoration: none;

  @include on-event {
    color: $dark-grey;
    text-decoration: underline;
  }
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    list-style: none;
    padding-left: 0;
}

p {
    font-family: $raleway;
    font-size: $default-text-size;
    line-height: $line-height-paragraph;

}

h2, h4 {
    text-transform:capitalize;
}

//Font classes

.bitter {
    font-family: $bitter;
}

.raleway {
    font-family: $raleway;
    font-size: $default-text-size;
    line-height: $line-height-descriptions;
}

.items-container {
    padding: 0 0 22px 0;
    margin: 15px;
}

.square-picture {
    width: 80px;
    height: 80px;
    float: left;
}

.text-content {
    position: relative;
    top: 0px;
    margin-left: 100px;
}

.height-content {
    position: relative;
    top: -11px;
}

.main-title {
    padding-bottom: 8px;
}



